# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
*.egg-info/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo


data/vector_store/



# Tests
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# macOS
.DS_Store